In [18]:
import pandas as pd
import numpy as np

In [19]:
df=pd.read_csv("data sset/countries-aggregated.csv")

In [20]:
df.head()

         Date      Country  Confirmed  Recovered  Deaths
0  2020-01-22  Afghanistan          0          0       0
1  2020-01-23  Afghanistan          0          0       0
2  2020-01-24  Afghanistan          0          0       0
3  2020-01-25  Afghanistan          0          0       0
4  2020-01-26  Afghanistan          0          0       0

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161568 entries, 0 to 161567
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date       161568 non-null  object
 1   Country    161568 non-null  object
 2   Confirmed  161568 non-null  int64
 3   Recovered  161568 non-null  int64
 4   Deaths     161568 non-null  int64
dtypes: int64(3), object(2)
memory usage: 6.2+ MB

In [22]:
unique_dates = df['Date'].unique()
print(unique_dates)

['2020-01-22' '2020-01-23' '2020-01-24' '2020-01-25' '2020-01-26'
 '2020-01-27' '2020-01-28' '2020-01-29' '2020-01-30' '2020-01-31'
 '2020-02-01' '2020-02-02' '2020-02-03' '2020-02-04' '2020-02-05'
 '2020-02-06' '2020-02-07' '2020-02-08' '2020-02-09' '2020-02-10'
 '2020-02-11' '2020-02-12' '2020-02-13' '2020-02-14' '2020-02-15'
 '2020-02-16' '2020-02-17' '2020-02-18' '2020-02-19' '2020-02-20'
 '2020-02-21' '2020-02-22' '2020-02-23' '2020-02-24' '2020-02-25'
 '2020-02-26' '2020-02-27' '2020-02-28' '2020-02-29' '2020-03-01'
 '2020-03-02' '2020-03-03' '2020-03-04' '2020-03-05' '2020-03-06'
 '2020-03-07' '2020-03-08' '2020-03-09' '2020-03-10' '2020-03-11'
 '2020-03-12' '2020-03-13' '2020-03-14' '2020-03-15' '2020-03-16'
 '2020-03-17' '2020-03-18' '2020-03-19' '2020-03-20' '2020-03-21'
 '2020-03-22' '2020-03-23' '2020-03-24' '2020-03-25' '2020-03-26'
 '2020-03-27' '2020-03-28' '2020-03-29' '2020-03-30' '2020-03-31'
 '2020-04-01' '2020-04-02' '2020-04-03' '2020-04-04' '2020-04-05'
 '2020-04-06' '2020-04-07' '2020-04-08' '2020-04-09' '2020-04-10'
 '2020-04-11' '2020-04-12' '2020-04-13' '2020-04-14' '2020-04-15'
 '2020-04-16' '2020-04-17' '2020-04-18' '2020-04-19' '2020-04-20'
 '2020-04-21' '2020-04-22' '2020-04-23' '2020-04-24' '2020-04-25'
 '2020-04-26' '2020-04-27' '2020-04-28' '2020-04-29' '2020-04-30'
 '2020-05-01' '2020-05-02' '2020-05-03' '2020-05-04' '2020-05-05'
 '2020-05-06' '2020-05-07' '2020-05-08' '2020-05-09' '2020-05-10'
 '2020-05-11' '2020-05-12' '2020-05-13' '2020-05-14' '2020-05-15'
 '2020-05-16' '2020-05-17' '2020-05-18' '2020-05-19' '2020-05-20'
 '2020-05-21' '2020-05-22' '2020-05-23' '2020-05-24' '2020-05-25'
 '2020-05-26' '2020-05-27' '2020-05-28' '2020-05-29' '2020-05-30'
 '2020-05-31' '2020-06-01' '2020-06-02' '2020-06-03' '2020-06-04'
 '2020-06-05' '2020-06-06' '2020-06-07' '2020-06-08' '2020-06-09'
 '2020-06-10' '2020-06-11' '2020-06-12' '2020-06-13' '2020-06-14'
 '2020-06-15' '2020-06-16' '2020-06-17' '2020-06-18' '2020-06-19'
 '2020-06-20' '2020-06-21' '2020-06-22' '2020-06-23' '2020-06-24'
 '2020-06-25' '2020-06-26' '2020-06-27' '2020-06-28' '2020-06-29'
 '2020-06-30' '2020-07-01' '2020-07-02' '2020-07-03' '2020-07-04'
 '2020-07-05' '2020-07-06' '2020-07-07' '2020-07-08' '2020-07-09'
 '2020-07-10' '2020-07-11' '2020-07-12' '2020-07-13' '2020-07-14'
 '2020-07-15' '2020-07-16' '2020-07-17' '2020-07-18' '2020-07-19'
 '2020-07-20' '2020-07-21' '2020-07-22' '2020-07-23' '2020-07-24'
 '2020-07-25' '2020-07-26' '2020-07-27' '2020-07-28' '2020-07-29'
 '2020-07-30' '2020-07-31' '2020-08-01' '2020-08-02' '2020-08-03'
 '2020-08-04' '2020-08-05' '2020-08-06' '2020-08-07' '2020-08-08'
 '2020-08-09' '2020-08-10' '2020-08-11' '2020-08-12' '2020-08-13'
 '2020-08-14' '2020-08-15' '2020-08-16' '2020-08-17' '2020-08-18'
 '2020-08-19' '2020-08-20' '2020-08-21' '2020-08-22' '2020-08-23'
 '2020-08-24' '2020-08-25' '2020-08-26' '2020-08-27' '2020-08-28'
 '2020-08-29' '2020-08-30' '2020-08-31' '2020-09-01' '2020-09-02'
 '2020-09-03' '2020-09-04' '2020-09-05' '2020-09-06' '2020-09-07'
 '2020-09-08' '2020-09-09' '2020-09-10' '2020-09-11' '2020-09-12'
 '2020-09-13' '2020-09-14' '2020-09-15' '2020-09-16' '2020-09-17'
 '2020-09-18' '2020-09-19' '2020-09-20' '2020-09-21' '2020-09-22'
 '2020-09-23' '2020-09-24' '2020-09-25' '2020-09-26' '2020-09-27'
 '2020-09-28' '2020-09-29' '2020-09-30' '2020-10-01' '2020-10-02'
 '2020-10-03' '2020-10-04' '2020-10-05' '2020-10-06' '2020-10-07'
 '2020-10-08' '2020-10-09' '2020-10-10' '2020-10-11' '2020-10-12'
 '2020-10-13' '2020-10-14' '2020-10-15' '2020-10-16' '2020-10-17'
 '2020-10-18' '2020-10-19' '2020-10-20' '2020-10-21' '2020-10-22'
 '2020-10-23' '2020-10-24' '2020-10-25' '2020-10-26' '2020-10-27'
 '2020-10-28' '2020-10-29' '2020-10-30' '2020-10-31' '2020-11-01'
 '2020-11-02' '2020-11-03' '2020-11-04' '2020-11-05' '2020-11-06'
 '2020-11-07' '2020-11-08' '2020-11-09' '2020-11-10' '2020-11-11'
 '2020-11-12' '2020-11-13' '2020-11-14' '2020-11-15' '2020-11-16'
 '2020-11-17' '2020-11-18' '2020-11-19' '2020-11-20' '2020-11-21'
 '2020-11-22' '2020-11-23' '2020-11-24' '2020-11-25' '2020-11-26'
 '2020-11-27' '2020-11-28' '2020-11-29' '2020-11-30' '2020-12-01'
 '2020-12-02' '2020-12-03' '2020-12-04' '2020-12-05' '2020-12-06'
 '2020-12-07' '2020-12-08' '2020-12-09' '2020-12-10' '2020-12-11'
 '2020-12-12' '2020-12-13' '2020-12-14' '2020-12-15' '2020-12-16'
 '2020-12-17' '2020-12-18' '2020-12-19' '2020-12-20' '2020-12-21'
 '2020-12-22' '2020-12-23' '2020-12-24' '2020-12-25' '2020-12-26'
 '2020-12-27' '2020-12-28' '2020-12-29' '2020-12-30' '2020-12-31'
 '2021-01-01' '2021-01-02' '2021-01-03' '2021-01-04' '2021-01-05'
 '2021-01-06' '2021-01-07' '2021-01-08' '2021-01-09' '2021-01-10'
 '2021-01-11' '2021-01-12' '2021-01-13' '2021-01-14' '2021-01-15'
 '2021-01-16' '2021-01-17' '2021-01-18' '2021-01-19' '2021-01-20'
 '2021-01-21' '2021-01-22' '2021-01-23' '2021-01-24' '2021-01-25'
 '2021-01-26' '2021-01-27' '2021-01-28' '2021-01-29' '2021-01-30'
 '2021-01-31' '2021-02-01' '2021-02-02' '2021-02-03' '2021-02-04'
 '2021-02-05' '2021-02-06' '2021-02-07' '2021-02-08' '2021-02-09'
 '2021-02-10' '2021-02-11' '2021-02-12' '2021-02-13' '2021-02-14'
 '2021-02-15' '2021-02-16' '2021-02-17' '2021-02-18' '2021-02-19'
 '2021-02-20' '2021-02-21' '2021-02-22' '2021-02-23' '2021-02-24'
 '2021-02-25' '2021-02-26' '2021-02-27' '2021-02-28' '2021-03-01'
 '2021-03-02' '2021-03-03' '2021-03-04' '2021-03-05' '2021-03-06'
 '2021-03-07' '2021-03-08' '2021-03-09' '2021-03-10' '2021-03-11'
 '2021-03-12' '2021-03-13' '2021-03-14' '2021-03-15' '2021-03-16'
 '2021-03-17' '2021-03-18' '2021-03-19' '2021-03-20' '2021-03-21'
 '2021-03-22' '2021-03-23' '2021-03-24' '2021-03-25' '2021-03-26'
 '2021-03-27' '2021-03-28' '2021-03-29' '2021-03-30' '2021-03-31'
 '2021-04-01' '2021-04-02' '2021-04-03' '2021-04-04' '2021-04-05'
 '2021-04-06' '2021-04-07' '2021-04-08' '2021-04-09' '2021-04-10'
 '2021-04-11' '2021-04-12' '2021-04-13' '2021-04-14' '2021-04-15'
 '2021-04-16' '2021-04-17' '2021-04-18' '2021-04-19' '2021-04-20'
 '2021-04-21' '2021-04-22' '2021-04-23' '2021-04-24' '2021-04-25'
 '2021-04-26' '2021-04-27' '2021-04-28' '2021-04-29' '2021-04-30'
 '2021-05-01' '2021-05-02' '2021-05-03' '2021-05-04' '2021-05-05'
 '2021-05-06' '2021-05-07' '2021-05-08' '2021-05-09' '2021-05-10'
 '2021-05-11' '2021-05-12' '2021-05-13' '2021-05-14' '2021-05-15'
 '2021-05-16' '2021-05-17' '2021-05-18' '2021-05-19' '2021-05-20'
 '2021-05-21' '2021-05-22' '2021-05-23' '2021-05-24' '2021-05-25'
 '2021-05-26' '2021-05-27' '2021-05-28' '2021-05-29' '2021-05-30'
 '2021-05-31' '2021-06-01' '2021-06-02' '2021-06-03' '2021-06-04'
 '2021-06-05' '2021-06-06' '2021-06-07' '2021-06-08' '2021-06-09'
 '2021-06-10' '2021-06-11' '2021-06-12' '2021-06-13' '2021-06-14'
 '2021-06-15' '2021-06-16' '2021-06-17' '2021-06-18' '2021-06-19'
 '2021-06-20' '2021-06-21' '2021-06-22' '2021-06-23' '2021-06-24'
 '2021-06-25' '2021-06-26' '2021-06-27' '2021-06-28' '2021-06-29'
 '2021-06-30' '2021-07-01' '2021-07-02' '2021-07-03' '2021-07-04'
 '2021-07-05' '2021-07-06' '2021-07-07' '2021-07-08' '2021-07-09'
 '2021-07-10' '2021-07-11' '2021-07-12' '2021-07-13' '2021-07-14'
 '2021-07-15' '2021-07-16' '2021-07-17' '2021-07-18' '2021-07-19'
 '2021-07-20' '2021-07-21' '2021-07-22' '2021-07-23' '2021-07-24'
 '2021-07-25' '2021-07-26' '2021-07-27' '2021-07-28' '2021-07-29'
 '2021-07-30' '2021-07-31' '2021-08-01' '2021-08-02' '2021-08-03'
 '2021-08-04' '2021-08-05' '2021-08-06' '2021-08-07' '2021-08-08'
 '2021-08-09' '2021-08-10' '2021-08-11' '2021-08-12' '2021-08-13'
 '2021-08-14' '2021-08-15' '2021-08-16' '2021-08-17' '2021-08-18'
 '2021-08-19' '2021-08-20' '2021-08-21' '2021-08-22' '2021-08-23'
 '2021-08-24' '2021-08-25' '2021-08-26' '2021-08-27' '2021-08-28'
 '2021-08-29' '2021-08-30' '2021-08-31' '2021-09-01' '2021-09-02'
 '2021-09-03' '2021-09-04' '2021-09-05' '2021-09-06' '2021-09-07'
 '2021-09-08' '2021-09-09' '2021-09-10' '2021-09-11' '2021-09-12'
 '2021-09-13' '2021-09-14' '2021-09-15' '2021-09-16' '2021-09-17'
 '2021-09-18' '2021-09-19' '2021-09-20' '2021-09-21' '2021-09-22'
 '2021-09-23' '2021-09-24' '2021-09-25' '2021-09-26' '2021-09-27'
 '2021-09-28' '2021-09-29' '2021-09-30' '2021-10-01' '2021-10-02'
 '2021-10-03' '2021-10-04' '2021-10-05' '2021-10-06' '2021-10-07'
 '2021-10-08' '2021-10-09' '2021-10-10' '2021-10-11' '2021-10-12'
 '2021-10-13' '2021-10-14' '2021-10-15' '2021-10-16' '2021-10-17'
 '2021-10-18' '2021-10-19' '2021-10-20' '2021-10-21' '2021-10-22'
 '2021-10-23' '2021-10-24' '2021-10-25' '2021-10-26' '2021-10-27'
 '2021-10-28' '2021-10-29' '2021-10-30' '2021-10-31' '2021-11-01'
 '2021-11-02' '2021-11-03' '2021-11-04' '2021-11-05' '2021-11-06'
 '2021-11-07' '2021-11-08' '2021-11-09' '2021-11-10' '2021-11-11'
 '2021-11-12' '2021-11-13' '2021-11-14' '2021-11-15' '2021-11-16'
 '2021-11-17' '2021-11-18' '2021-11-19' '2021-11-20' '2021-11-21'
 '2021-11-22' '2021-11-23' '2021-11-24' '2021-11-25' '2021-11-26'
 '2021-11-27' '2021-11-28' '2021-11-29' '2021-11-30' '2021-12-01'
 '2021-12-02' '2021-12-03' '2021-12-04' '2021-12-05' '2021-12-06'
 '2021-12-07' '2021-12-08' '2021-12-09' '2021-12-10' '2021-12-11'
 '2021-12-12' '2021-12-13' '2021-12-14' '2021-12-15' '2021-12-16'
 '2021-12-17' '2021-12-18' '2021-12-19' '2021-12-20' '2021-12-21'
 '2021-12-22' '2021-12-23' '2021-12-24' '2021-12-25' '2021-12-26'
 '2021-12-27' '2021-12-28' '2021-12-29' '2021-12-30' '2021-12-31'
 '2022-01-01' '2022-01-02' '2022-01-03' '2022-01-04' '2022-01-05'
 '2022-01-06' '2022-01-07' '2022-01-08' '2022-01-09' '2022-01-10'
 '2022-01-11' '2022-01-12' '2022-01-13' '2022-01-14' '2022-01-15'
 '2022-01-16' '2022-01-17' '2022-01-18' '2022-01-19' '2022-01-20'
 '2022-01-21' '2022-01-22' '2022-01-23' '2022-01-24' '2022-01-25'
 '2022-01-26' '2022-01-27' '2022-01-28' '2022-01-29' '2022-01-30'
 '2022-01-31' '2022-02-01' '2022-02-02' '2022-02-03' '2022-02-04'
 '2022-02-05' '2022-02-06' '2022-02-07' '2022-02-08' '2022-02-09'
 '2022-02-10' '2022-02-11' '2022-02-12' '2022-02-13' '2022-02-14'
 '2022-02-15' '2022-02-16' '2022-02-17' '2022-02-18' '2022-02-19'
 '2022-02-20' '2022-02-21' '2022-02-22' '2022-02-23' '2022-02-24'
 '2022-02-25' '2022-02-26' '2022-02-27' '2022-02-28' '2022-03-01'
 '2022-03-02' '2022-03-03' '2022-03-04' '2022-03-05' '2022-03-06'
 '2022-03-07' '2022-03-08' '2022-03-09' '2022-03-10' '2022-03-11'
 '2022-03-12' '2022-03-13' '2022-03-14' '2022-03-15' '2022-03-16'
 '2022-03-17' '2022-03-18' '2022-03-19' '2022-03-20' '2022-03-21'
 '2022-03-22' '2022-03-23' '2022-03-24' '2022-03-25' '2022-03-26'
 '2022-03-27' '2022-03-28' '2022-03-29' '2022-03-30' '2022-03-31'
 '2022-04-01' '2022-04-02' '2022-04-03' '2022-04-04' '2022-04-05'
 '2022-04-06' '2022-04-07' '2022-04-08' '2022-04-09' '2022-04-10'
 '2022-04-11' '2022-04-12' '2022-04-13' '2022-04-14' '2022-04-15'
 '2022-04-16']

In [23]:
df.describe()

          Confirmed     Recovered         Deaths
count  1.615680e+05  1.615680e+05  161568.000000
mean   7.361569e+05  1.453967e+05   13999.436089
std    3.578884e+06  9.748275e+05   59113.581271
min    0.000000e+00  0.000000e+00       0.000000
25%    1.220000e+03  0.000000e+00      17.000000
50%    2.369200e+04  1.260000e+02     365.000000
75%    2.558420e+05  1.797225e+04    4509.000000
max    8.062512e+07  3.097475e+07  988609.000000

In [24]:
df['Date'] = pd.to_datetime(df['Date'],errors='coerce')

In [25]:
unique_dates = df['Date'].unique()
print(unique_dates)

['2020-01-22T00:00:00.000000000' '2020-01-23T00:00:00.000000000'
 '2020-01-24T00:00:00.000000000' '2020-01-25T00:00:00.000000000'
 '2020-01-26T00:00:00.000000000' '2020-01-27T00:00:00.000000000'
 '2020-01-28T00:00:00.000000000' '2020-01-29T00:00:00.000000000'
 '2020-01-30T00:00:00.000000000' '2020-01-31T00:00:00.000000000'
 '2020-02-01T00:00:00.000000000' '2020-02-02T00:00:00.000000000'
 '2020-02-03T00:00:00.000000000' '2020-02-04T00:00:00.000000000'
 '2020-02-05T00:00:00.000000000' '2020-02-06T00:00:00.000000000'
 '2020-02-07T00:00:00.000000000' '2020-02-08T00:00:00.000000000'
 '2020-02-09T00:00:00.000000000' '2020-02-10T00:00:00.000000000'
 '2020-02-11T00:00:00.000000000' '2020-02-12T00:00:00.000000000'
 '2020-02-13T00:00:00.000000000' '2020-02-14T00:00:00.000000000'
 '2020-02-15T00:00:00.000000000' '2020-02-16T00:00:00.000000000'
 '2020-02-17T00:00:00.000000000' '2020-02-18T00:00:00.000000000'
 '2020-02-19T00:00:00.000000000' '2020-02-20T00:00:00.000000000'
 '2020-02-21T00:00:00.000000000' '2020-02-22T00:00:00.000000000'
 '2020-02-23T00:00:00.000000000' '2020-02-24T00:00:00.000000000'
 '2020-02-25T00:00:00.000000000' '2020-02-26T00:00:00.000000000'
 '2020-02-27T00:00:00.000000000' '2020-02-28T00:00:00.000000000'
 '2020-02-29T00:00:00.000000000' '2020-03-01T00:00:00.000000000'
 '2020-03-02T00:00:00.000000000' '2020-03-03T00:00:00.000000000'
 '2020-03-04T00:00:00.000000000' '2020-03-05T00:00:00.000000000'
 '2020-03-06T00:00:00.000000000' '2020-03-07T00:00:00.000000000'
 '2020-03-08T00:00:00.000000000' '2020-03-09T00:00:00.000000000'
 '2020-03-10T00:00:00.000000000' '2020-03-11T00:00:00.000000000'
 '2020-03-12T00:00:00.000000000' '2020-03-13T00:00:00.000000000'
 '2020-03-14T00:00:00.000000000' '2020-03-15T00:00:00.000000000'
 '2020-03-16T00:00:00.000000000' '2020-03-17T00:00:00.000000000'
 '2020-03-18T00:00:00.000000000' '2020-03-19T00:00:00.000000000'
 '2020-03-20T00:00:00.000000000' '2020-03-21T00:00:00.000000000'
 '2020-03-22T00:00:00.000000000' '2020-03-23T00:00:00.000000000'
 '2020-03-24T00:00:00.000000000' '2020-03-25T00:00:00.000000000'
 '2020-03-26T00:00:00.000000000' '2020-03-27T00:00:00.000000000'
 '2020-03-28T00:00:00.000000000' '2020-03-29T00:00:00.000000000'
 '2020-03-30T00:00:00.000000000' '2020-03-31T00:00:00.000000000'
 '2020-04-01T00:00:00.000000000' '2020-04-02T00:00:00.000000000'
 '2020-04-03T00:00:00.000000000' '2020-04-04T00:00:00.000000000'
 '2020-04-05T00:00:00.000000000' '2020-04-06T00:00:00.000000000'
 '2020-04-07T00:00:00.000000000' '2020-04-08T00:00:00.000000000'
 '2020-04-09T00:00:00.000000000' '2020-04-10T00:00:00.000000000'
 '2020-04-11T00:00:00.000000000' '2020-04-12T00:00:00.000000000'
 '2020-04-13T00:00:00.000000000' '2020-04-14T00:00:00.000000000'
 '2020-04-15T00:00:00.000000000' '2020-04-16T00:00:00.000000000'
 '2020-04-17T00:00:00.000000000' '2020-04-18T00:00:00.000000000'
 '2020-04-19T00:00:00.000000000' '2020-04-20T00:00:00.000000000'
 '2020-04-21T00:00:00.000000000' '2020-04-22T00:00:00.000000000'
 '2020-04-23T00:00:00.000000000' '2020-04-24T00:00:00.000000000'
 '2020-04-25T00:00:00.000000000' '2020-04-26T00:00:00.000000000'
 '2020-04-27T00:00:00.000000000' '2020-04-28T00:00:00.000000000'
 '2020-04-29T00:00:00.000000000' '2020-04-30T00:00:00.000000000'
 '2020-05-01T00:00:00.000000000' '2020-05-02T00:00:00.000000000'
 '2020-05-03T00:00:00.000000000' '2020-05-04T00:00:00.000000000'
 '2020-05-05T00:00:00.000000000' '2020-05-06T00:00:00.000000000'
 '2020-05-07T00:00:00.000000000' '2020-05-08T00:00:00.000000000'
 '2020-05-09T00:00:00.000000000' '2020-05-10T00:00:00.000000000'
 '2020-05-11T00:00:00.000000000' '2020-05-12T00:00:00.000000000'
 '2020-05-13T00:00:00.000000000' '2020-05-14T00:00:00.000000000'
 '2020-05-15T00:00:00.000000000' '2020-05-16T00:00:00.000000000'
 '2020-05-17T00:00:00.000000000' '2020-05-18T00:00:00.000000000'
 '2020-05-19T00:00:00.000000000' '2020-05-20T00:00:00.000000000'
 '2020-05-21T00:00:00.000000000' '2020-05-22T00:00:00.000000000'
 '2020-05-23T00:00:00.000000000' '2020-05-24T00:00:00.000000000'
 '2020-05-25T00:00:00.000000000' '2020-05-26T00:00:00.000000000'
 '2020-05-27T00:00:00.000000000' '2020-05-28T00:00:00.000000000'
 '2020-05-29T00:00:00.000000000' '2020-05-30T00:00:00.000000000'
 '2020-05-31T00:00:00.000000000' '2020-06-01T00:00:00.000000000'
 '2020-06-02T00:00:00.000000000' '2020-06-03T00:00:00.000000000'
 '2020-06-04T00:00:00.000000000' '2020-06-05T00:00:00.000000000'
 '2020-06-06T00:00:00.000000000' '2020-06-07T00:00:00.000000000'
 '2020-06-08T00:00:00.000000000' '2020-06-09T00:00:00.000000000'
 '2020-06-10T00:00:00.000000000' '2020-06-11T00:00:00.000000000'
 '2020-06-12T00:00:00.000000000' '2020-06-13T00:00:00.000000000'
 '2020-06-14T00:00:00.000000000' '2020-06-15T00:00:00.000000000'
 '2020-06-16T00:00:00.000000000' '2020-06-17T00:00:00.000000000'
 '2020-06-18T00:00:00.000000000' '2020-06-19T00:00:00.000000000'
 '2020-06-20T00:00:00.000000000' '2020-06-21T00:00:00.000000000'
 '2020-06-22T00:00:00.000000000' '2020-06-23T00:00:00.000000000'
 '2020-06-24T00:00:00.000000000' '2020-06-25T00:00:00.000000000'
 '2020-06-26T00:00:00.000000000' '2020-06-27T00:00:00.000000000'
 '2020-06-28T00:00:00.000000000' '2020-06-29T00:00:00.000000000'
 '2020-06-30T00:00:00.000000000' '2020-07-01T00:00:00.000000000'
 '2020-07-02T00:00:00.000000000' '2020-07-03T00:00:00.000000000'
 '2020-07-04T00:00:00.000000000' '2020-07-05T00:00:00.000000000'
 '2020-07-06T00:00:00.000000000' '2020-07-07T00:00:00.000000000'
 '2020-07-08T00:00:00.000000000' '2020-07-09T00:00:00.000000000'
 '2020-07-10T00:00:00.000000000' '2020-07-11T00:00:00.000000000'
 '2020-07-12T00:00:00.000000000' '2020-07-13T00:00:00.000000000'
 '2020-07-14T00:00:00.000000000' '2020-07-15T00:00:00.000000000'
 '2020-07-16T00:00:00.000000000' '2020-07-17T00:00:00.000000000'
 '2020-07-18T00:00:00.000000000' '2020-07-19T00:00:00.000000000'
 '2020-07-20T00:00:00.000000000' '2020-07-21T00:00:00.000000000'
 '2020-07-22T00:00:00.000000000' '2020-07-23T00:00:00.000000000'
 '2020-07-24T00:00:00.000000000' '2020-07-25T00:00:00.000000000'
 '2020-07-26T00:00:00.000000000' '2020-07-27T00:00:00.000000000'
 '2020-07-28T00:00:00.000000000' '2020-07-29T00:00:00.000000000'
 '2020-07-30T00:00:00.000000000' '2020-07-31T00:00:00.000000000'
 '2020-08-01T00:00:00.000000000' '2020-08-02T00:00:00.000000000'
 '2020-08-03T00:00:00.000000000' '2020-08-04T00:00:00.000000000'
 '2020-08-05T00:00:00.000000000' '2020-08-06T00:00:00.000000000'
 '2020-08-07T00:00:00.000000000' '2020-08-08T00:00:00.000000000'
 '2020-08-09T00:00:00.000000000' '2020-08-10T00:00:00.000000000'
 '2020-08-11T00:00:00.000000000' '2020-08-12T00:00:00.000000000'
 '2020-08-13T00:00:00.000000000' '2020-08-14T00:00:00.000000000'
 '2020-08-15T00:00:00.000000000' '2020-08-16T00:00:00.000000000'
 '2020-08-17T00:00:00.000000000' '2020-08-18T00:00:00.000000000'
 '2020-08-19T00:00:00.000000000' '2020-08-20T00:00:00.000000000'
 '2020-08-21T00:00:00.000000000' '2020-08-22T00:00:00.000000000'
 '2020-08-23T00:00:00.000000000' '2020-08-24T00:00:00.000000000'
 '2020-08-25T00:00:00.000000000' '2020-08-26T00:00:00.000000000'
 '2020-08-27T00:00:00.000000000' '2020-08-28T00:00:00.000000000'
 '2020-08-29T00:00:00.000000000' '2020-08-30T00:00:00.000000000'
 '2020-08-31T00:00:00.000000000' '2020-09-01T00:00:00.000000000'
 '2020-09-02T00:00:00.000000000' '2020-09-03T00:00:00.000000000'
 '2020-09-04T00:00:00.000000000' '2020-09-05T00:00:00.000000000'
 '2020-09-06T00:00:00.000000000' '2020-09-07T00:00:00.000000000'
 '2020-09-08T00:00:00.000000000' '2020-09-09T00:00:00.000000000'
 '2020-09-10T00:00:00.000000000' '2020-09-11T00:00:00.000000000'
 '2020-09-12T00:00:00.000000000' '2020-09-13T00:00:00.000000000'
 '2020-09-14T00:00:00.000000000' '2020-09-15T00:00:00.000000000'
 '2020-09-16T00:00:00.000000000' '2020-09-17T00:00:00.000000000'
 '2020-09-18T00:00:00.000000000' '2020-09-19T00:00:00.000000000'
 '2020-09-20T00:00:00.000000000' '2020-09-21T00:00:00.000000000'
 '2020-09-22T00:00:00.000000000' '2020-09-23T00:00:00.000000000'
 '2020-09-24T00:00:00.000000000' '2020-09-25T00:00:00.000000000'
 '2020-09-26T00:00:00.000000000' '2020-09-27T00:00:00.000000000'
 '2020-09-28T00:00:00.000000000' '2020-09-29T00:00:00.000000000'
 '2020-09-30T00:00:00.000000000' '2020-10-01T00:00:00.000000000'
 '2020-10-02T00:00:00.000000000' '2020-10-03T00:00:00.000000000'
 '2020-10-04T00:00:00.000000000' '2020-10-05T00:00:00.000000000'
 '2020-10-06T00:00:00.000000000' '2020-10-07T00:00:00.000000000'
 '2020-10-08T00:00:00.000000000' '2020-10-09T00:00:00.000000000'
 '2020-10-10T00:00:00.000000000' '2020-10-11T00:00:00.000000000'
 '2020-10-12T00:00:00.000000000' '2020-10-13T00:00:00.000000000'
 '2020-10-14T00:00:00.000000000' '2020-10-15T00:00:00.000000000'
 '2020-10-16T00:00:00.000000000' '2020-10-17T00:00:00.000000000'
 '2020-10-18T00:00:00.000000000' '2020-10-19T00:00:00.000000000'
 '2020-10-20T00:00:00.000000000' '2020-10-21T00:00:00.000000000'
 '2020-10-22T00:00:00.000000000' '2020-10-23T00:00:00.000000000'
 '2020-10-24T00:00:00.000000000' '2020-10-25T00:00:00.000000000'
 '2020-10-26T00:00:00.000000000' '2020-10-27T00:00:00.000000000'
 '2020-10-28T00:00:00.000000000' '2020-10-29T00:00:00.000000000'
 '2020-10-30T00:00:00.000000000' '2020-10-31T00:00:00.000000000'
 '2020-11-01T00:00:00.000000000' '2020-11-02T00:00:00.000000000'
 '2020-11-03T00:00:00.000000000' '2020-11-04T00:00:00.000000000'
 '2020-11-05T00:00:00.000000000' '2020-11-06T00:00:00.000000000'
 '2020-11-07T00:00:00.000000000' '2020-11-08T00:00:00.000000000'
 '2020-11-09T00:00:00.000000000' '2020-11-10T00:00:00.000000000'
 '2020-11-11T00:00:00.000000000' '2020-11-12T00:00:00.000000000'
 '2020-11-13T00:00:00.000000000' '2020-11-14T00:00:00.000000000'
 '2020-11-15T00:00:00.000000000' '2020-11-16T00:00:00.000000000'
 '2020-11-17T00:00:00.000000000' '2020-11-18T00:00:00.000000000'
 '2020-11-19T00:00:00.000000000' '2020-11-20T00:00:00.000000000'
 '2020-11-21T00:00:00.000000000' '2020-11-22T00:00:00.000000000'
 '2020-11-23T00:00:00.000000000' '2020-11-24T00:00:00.000000000'
 '2020-11-25T00:00:00.000000000' '2020-11-26T00:00:00.000000000'
 '2020-11-27T00:00:00.000000000' '2020-11-28T00:00:00.000000000'
 '2020-11-29T00:00:00.000000000' '2020-11-30T00:00:00.000000000'
 '2020-12-01T00:00:00.000000000' '2020-12-02T00:00:00.000000000'
 '2020-12-03T00:00:00.000000000' '2020-12-04T00:00:00.000000000'
 '2020-12-05T00:00:00.000000000' '2020-12-06T00:00:00.000000000'
 '2020-12-07T00:00:00.000000000' '2020-12-08T00:00:00.000000000'
 '2020-12-09T00:00:00.000000000' '2020-12-10T00:00:00.000000000'
 '2020-12-11T00:00:00.000000000' '2020-12-12T00:00:00.000000000'
 '2020-12-13T00:00:00.000000000' '2020-12-14T00:00:00.000000000'
 '2020-12-15T00:00:00.000000000' '2020-12-16T00:00:00.000000000'
 '2020-12-17T00:00:00.000000000' '2020-12-18T00:00:00.000000000'
 '2020-12-19T00:00:00.000000000' '2020-12-20T00:00:00.000000000'
 '2020-12-21T00:00:00.000000000' '2020-12-22T00:00:00.000000000'
 '2020-12-23T00:00:00.000000000' '2020-12-24T00:00:00.000000000'
 '2020-12-25T00:00:00.000000000' '2020-12-26T00:00:00.000000000'
 '2020-12-27T00:00:00.000000000' '2020-12-28T00:00:00.000000000'
 '2020-12-29T00:00:00.000000000' '2020-12-30T00:00:00.000000000'
 '2020-12-31T00:00:00.000000000' '2021-01-01T00:00:00.000000000'
 '2021-01-02T00:00:00.000000000' '2021-01-03T00:00:00.000000000'
 '2021-01-04T00:00:00.000000000' '2021-01-05T00:00:00.000000000'
 '2021-01-06T00:00:00.000000000' '2021-01-07T00:00:00.000000000'
 '2021-01-08T00:00:00.000000000' '2021-01-09T00:00:00.000000000'
 '2021-01-10T00:00:00.000000000' '2021-01-11T00:00:00.000000000'
 '2021-01-12T00:00:00.000000000' '2021-01-13T00:00:00.000000000'
 '2021-01-14T00:00:00.000000000' '2021-01-15T00:00:00.000000000'
 '2021-01-16T00:00:00.000000000' '2021-01-17T00:00:00.000000000'
 '2021-01-18T00:00:00.000000000' '2021-01-19T00:00:00.000000000'
 '2021-01-20T00:00:00.000000000' '2021-01-21T00:00:00.000000000'
 '2021-01-22T00:00:00.000000000' '2021-01-23T00:00:00.000000000'
 '2021-01-24T00:00:00.000000000' '2021-01-25T00:00:00.000000000'
 '2021-01-26T00:00:00.000000000' '2021-01-27T00:00:00.000000000'
 '2021-01-28T00:00:00.000000000' '2021-01-29T00:00:00.000000000'
 '2021-01-30T00:00:00.000000000' '2021-01-31T00:00:00.000000000'
 '2021-02-01T00:00:00.000000000' '2021-02-02T00:00:00.000000000'
 '2021-02-03T00:00:00.000000000' '2021-02-04T00:00:00.000000000'
 '2021-02-05T00:00:00.000000000' '2021-02-06T00:00:00.000000000'
 '2021-02-07T00:00:00.000000000' '2021-02-08T00:00:00.000000000'
 '2021-02-09T00:00:00.000000000' '2021-02-10T00:00:00.000000000'
 '2021-02-11T00:00:00.000000000' '2021-02-12T00:00:00.000000000'
 '2021-02-13T00:00:00.000000000' '2021-02-14T00:00:00.000000000'
 '2021-02-15T00:00:00.000000000' '2021-02-16T00:00:00.000000000'
 '2021-02-17T00:00:00.000000000' '2021-02-18T00:00:00.000000000'
 '2021-02-19T00:00:00.000000000' '2021-02-20T00:00:00.000000000'
 '2021-02-21T00:00:00.000000000' '2021-02-22T00:00:00.000000000'
 '2021-02-23T00:00:00.000000000' '2021-02-24T00:00:00.000000000'
 '2021-02-25T00:00:00.000000000' '2021-02-26T00:00:00.000000000'
 '2021-02-27T00:00:00.000000000' '2021-02-28T00:00:00.000000000'
 '2021-03-01T00:00:00.000000000' '2021-03-02T00:00:00.000000000'
 '2021-03-03T00:00:00.000000000' '2021-03-04T00:00:00.000000000'
 '2021-03-05T00:00:00.000000000' '2021-03-06T00:00:00.000000000'
 '2021-03-07T00:00:00.000000000' '2021-03-08T00:00:00.000000000'
 '2021-03-09T00:00:00.000000000' '2021-03-10T00:00:00.000000000'
 '2021-03-11T00:00:00.000000000' '2021-03-12T00:00:00.000000000'
 '2021-03-13T00:00:00.000000000' '2021-03-14T00:00:00.000000000'
 '2021-03-15T00:00:00.000000000' '2021-03-16T00:00:00.000000000'
 '2021-03-17T00:00:00.000000000' '2021-03-18T00:00:00.000000000'
 '2021-03-19T00:00:00.000000000' '2021-03-20T00:00:00.000000000'
 '2021-03-21T00:00:00.000000000' '2021-03-22T00:00:00.000000000'
 '2021-03-23T00:00:00.000000000' '2021-03-24T00:00:00.000000000'
 '2021-03-25T00:00:00.000000000' '2021-03-26T00:00:00.000000000'
 '2021-03-27T00:00:00.000000000' '2021-03-28T00:00:00.000000000'
 '2021-03-29T00:00:00.000000000' '2021-03-30T00:00:00.000000000'
 '2021-03-31T00:00:00.000000000' '2021-04-01T00:00:00.000000000'
 '2021-04-02T00:00:00.000000000' '2021-04-03T00:00:00.000000000'
 '2021-04-04T00:00:00.000000000' '2021-04-05T00:00:00.000000000'
 '2021-04-06T00:00:00.000000000' '2021-04-07T00:00:00.000000000'
 '2021-04-08T00:00:00.000000000' '2021-04-09T00:00:00.000000000'
 '2021-04-10T00:00:00.000000000' '2021-04-11T00:00:00.000000000'
 '2021-04-12T00:00:00.000000000' '2021-04-13T00:00:00.000000000'
 '2021-04-14T00:00:00.000000000' '2021-04-15T00:00:00.000000000'
 '2021-04-16T00:00:00.000000000' '2021-04-17T00:00:00.000000000'
 '2021-04-18T00:00:00.000000000' '2021-04-19T00:00:00.000000000'
 '2021-04-20T00:00:00.000000000' '2021-04-21T00:00:00.000000000'
 '2021-04-22T00:00:00.000000000' '2021-04-23T00:00:00.000000000'
 '2021-04-24T00:00:00.000000000' '2021-04-25T00:00:00.000000000'
 '2021-04-26T00:00:00.000000000' '2021-04-27T00:00:00.000000000'
 '2021-04-28T00:00:00.000000000' '2021-04-29T00:00:00.000000000'
 '2021-04-30T00:00:00.000000000' '2021-05-01T00:00:00.000000000'
 '2021-05-02T00:00:00.000000000' '2021-05-03T00:00:00.000000000'
 '2021-05-04T00:00:00.000000000' '2021-05-05T00:00:00.000000000'
 '2021-05-06T00:00:00.000000000' '2021-05-07T00:00:00.000000000'
 '2021-05-08T00:00:00.000000000' '2021-05-09T00:00:00.000000000'
 '2021-05-10T00:00:00.000000000' '2021-05-11T00:00:00.000000000'
 '2021-05-12T00:00:00.000000000' '2021-05-13T00:00:00.000000000'
 '2021-05-14T00:00:00.000000000' '2021-05-15T00:00:00.000000000'
 '2021-05-16T00:00:00.000000000' '2021-05-17T00:00:00.000000000'
 '2021-05-18T00:00:00.000000000' '2021-05-19T00:00:00.000000000'
 '2021-05-20T00:00:00.000000000' '2021-05-21T00:00:00.000000000'
 '2021-05-22T00:00:00.000000000' '2021-05-23T00:00:00.000000000'
 '2021-05-24T00:00:00.000000000' '2021-05-25T00:00:00.000000000'
 '2021-05-26T00:00:00.000000000' '2021-05-27T00:00:00.000000000'
 '2021-05-28T00:00:00.000000000' '2021-05-29T00:00:00.000000000'
 '2021-05-30T00:00:00.000000000' '2021-05-31T00:00:00.000000000'
 '2021-06-01T00:00:00.000000000' '2021-06-02T00:00:00.000000000'
 '2021-06-03T00:00:00.000000000' '2021-06-04T00:00:00.000000000'
 '2021-06-05T00:00:00.000000000' '2021-06-06T00:00:00.000000000'
 '2021-06-07T00:00:00.000000000' '2021-06-08T00:00:00.000000000'
 '2021-06-09T00:00:00.000000000' '2021-06-10T00:00:00.000000000'
 '2021-06-11T00:00:00.000000000' '2021-06-12T00:00:00.000000000'
 '2021-06-13T00:00:00.000000000' '2021-06-14T00:00:00.000000000'
 '2021-06-15T00:00:00.000000000' '2021-06-16T00:00:00.000000000'
 '2021-06-17T00:00:00.000000000' '2021-06-18T00:00:00.000000000'
 '2021-06-19T00:00:00.000000000' '2021-06-20T00:00:00.000000000'
 '2021-06-21T00:00:00.000000000' '2021-06-22T00:00:00.000000000'
 '2021-06-23T00:00:00.000000000' '2021-06-24T00:00:00.000000000'
 '2021-06-25T00:00:00.000000000' '2021-06-26T00:00:00.000000000'
 '2021-06-27T00:00:00.000000000' '2021-06-28T00:00:00.000000000'
 '2021-06-29T00:00:00.000000000' '2021-06-30T00:00:00.000000000'
 '2021-07-01T00:00:00.000000000' '2021-07-02T00:00:00.000000000'
 '2021-07-03T00:00:00.000000000' '2021-07-04T00:00:00.000000000'
 '2021-07-05T00:00:00.000000000' '2021-07-06T00:00:00.000000000'
 '2021-07-07T00:00:00.000000000' '2021-07-08T00:00:00.000000000'
 '2021-07-09T00:00:00.000000000' '2021-07-10T00:00:00.000000000'
 '2021-07-11T00:00:00.000000000' '2021-07-12T00:00:00.000000000'
 '2021-07-13T00:00:00.000000000' '2021-07-14T00:00:00.000000000'
 '2021-07-15T00:00:00.000000000' '2021-07-16T00:00:00.000000000'
 '2021-07-17T00:00:00.000000000' '2021-07-18T00:00:00.000000000'
 '2021-07-19T00:00:00.000000000' '2021-07-20T00:00:00.000000000'
 '2021-07-21T00:00:00.000000000' '2021-07-22T00:00:00.000000000'
 '2021-07-23T00:00:00.000000000' '2021-07-24T00:00:00.000000000'
 '2021-07-25T00:00:00.000000000' '2021-07-26T00:00:00.000000000'
 '2021-07-27T00:00:00.000000000' '2021-07-28T00:00:00.000000000'
 '2021-07-29T00:00:00.000000000' '2021-07-30T00:00:00.000000000'
 '2021-07-31T00:00:00.000000000' '2021-08-01T00:00:00.000000000'
 '2021-08-02T00:00:00.000000000' '2021-08-03T00:00:00.000000000'
 '2021-08-04T00:00:00.000000000' '2021-08-05T00:00:00.000000000'
 '2021-08-06T00:00:00.000000000' '2021-08-07T00:00:00.000000000'
 '2021-08-08T00:00:00.000000000' '2021-08-09T00:00:00.000000000'
 '2021-08-10T00:00:00.000000000' '2021-08-11T00:00:00.000000000'
 '2021-08-12T00:00:00.000000000' '2021-08-13T00:00:00.000000000'
 '2021-08-14T00:00:00.000000000' '2021-08-15T00:00:00.000000000'
 '2021-08-16T00:00:00.000000000' '2021-08-17T00:00:00.000000000'
 '2021-08-18T00:00:00.000000000' '2021-08-19T00:00:00.000000000'
 '2021-08-20T00:00:00.000000000' '2021-08-21T00:00:00.000000000'
 '2021-08-22T00:00:00.000000000' '2021-08-23T00:00:00.000000000'
 '2021-08-24T00:00:00.000000000' '2021-08-25T00:00:00.000000000'
 '2021-08-26T00:00:00.000000000' '2021-08-27T00:00:00.000000000'
 '2021-08-28T00:00:00.000000000' '2021-08-29T00:00:00.000000000'
 '2021-08-30T00:00:00.000000000' '2021-08-31T00:00:00.000000000'
 '2021-09-01T00:00:00.000000000' '2021-09-02T00:00:00.000000000'
 '2021-09-03T00:00:00.000000000' '2021-09-04T00:00:00.000000000'
 '2021-09-05T00:00:00.000000000' '2021-09-06T00:00:00.000000000'
 '2021-09-07T00:00:00.000000000' '2021-09-08T00:00:00.000000000'
 '2021-09-09T00:00:00.000000000' '2021-09-10T00:00:00.000000000'
 '2021-09-11T00:00:00.000000000' '2021-09-12T00:00:00.000000000'
 '2021-09-13T00:00:00.000000000' '2021-09-14T00:00:00.000000000'
 '2021-09-15T00:00:00.000000000' '2021-09-16T00:00:00.000000000'
 '2021-09-17T00:00:00.000000000' '2021-09-18T00:00:00.000000000'
 '2021-09-19T00:00:00.000000000' '2021-09-20T00:00:00.000000000'
 '2021-09-21T00:00:00.000000000' '2021-09-22T00:00:00.000000000'
 '2021-09-23T00:00:00.000000000' '2021-09-24T00:00:00.000000000'
 '2021-09-25T00:00:00.000000000' '2021-09-26T00:00:00.000000000'

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161568 entries, 0 to 161567
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date       161568 non-null  datetime64[ns]
 1   Country    161568 non-null  object
 2   Confirmed  161568 non-null  int64
 3   Recovered  161568 non-null  int64
 4   Deaths     161568 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 6.2+ MB

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161568 entries, 0 to 161567
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date       161568 non-null  datetime64[ns]
 1   Country    161568 non-null  object
 2   Confirmed  161568 non-null  int64
 3   Recovered  161568 non-null  int64
 4   Deaths     161568 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 6.2+ MB

In [34]:
df['Confirmed'].nunique()

85646

In [35]:
df.head()

        Date      Country  Confirmed  Recovered  Deaths
0 2020-01-22  Afghanistan          0          0       0
1 2020-01-23  Afghanistan          0          0       0
2 2020-01-24  Afghanistan          0          0       0
3 2020-01-25  Afghanistan          0          0       0
4 2020-01-26  Afghanistan          0          0       0

In [38]:
type(df.loc[2332])

pandas.core.series.Series

In [43]:
df1=df.set_index("Country")

#

In [44]:
df1

                  Date  Confirmed  Recovered  Deaths
Country
Afghanistan 2020-01-22          0          0       0
Afghanistan 2020-01-23          0          0       0
Afghanistan 2020-01-24          0          0       0
Afghanistan 2020-01-25          0          0       0
Afghanistan 2020-01-26          0          0       0
...                ...        ...        ...     ...
Zimbabwe    2022-04-12     247094          0    5460
Zimbabwe    2022-04-13     247160          0    5460
Zimbabwe    2022-04-14     247208          0    5462
Zimbabwe    2022-04-15     247237          0    5462
Zimbabwe    2022-04-16     247237          0    5462

[161568 rows x 4 columns]

In [48]:
df1.loc["India"]

              Date  Confirmed  Recovered  Deaths
Country
India   2020-01-22          0          0       0
India   2020-01-23          0          0       0
India   2020-01-24          0          0       0
India   2020-01-25          0          0       0
India   2020-01-26          0          0       0
...            ...        ...        ...     ...
India   2022-04-12   43038016          0  521736
India   2022-04-13   43039023          0  521737
India   2022-04-14   43039972          0  521743
India   2022-04-15   43040947          0  521747
India   2022-04-16   43042097          0  521751

[816 rows x 4 columns]

In [55]:
df_zimbabwe=df.query("(Country == 'Zimbabwe')")

In [56]:
df_zimbabwe

             Date   Country  Confirmed  Recovered  Deaths
160752 2020-01-22  Zimbabwe          0          0       0
160753 2020-01-23  Zimbabwe          0          0       0
160754 2020-01-24  Zimbabwe          0          0       0
160755 2020-01-25  Zimbabwe          0          0       0
160756 2020-01-26  Zimbabwe          0          0       0
...           ...       ...        ...        ...     ...
161563 2022-04-12  Zimbabwe     247094          0    5460
161564 2022-04-13  Zimbabwe     247160          0    5460
161565 2022-04-14  Zimbabwe     247208          0    5462
161566 2022-04-15  Zimbabwe     247237          0    5462
161567 2022-04-16  Zimbabwe     247237          0    5462

[816 rows x 5 columns]

In [58]:
df_zimbabwe.loc[161566]

Date         2022-04-15 00:00:00
Country                 Zimbabwe
Confirmed                 247237
Recovered                      0
Deaths                      5462
Name: 161566, dtype: object

In [60]:
df_zimbabwe.iloc[0]

Date         2020-01-22 00:00:00
Country                 Zimbabwe
Confirmed                      0
Recovered                      0
Deaths                         0
Name: 160752, dtype: object

In [61]:
df=pd.read_csv("data sset/countries-aggregated.csv")

In [62]:
df.head()

         Date      Country  Confirmed  Recovered  Deaths
0  2020-01-22  Afghanistan          0          0       0
1  2020-01-23  Afghanistan          0          0       0
2  2020-01-24  Afghanistan          0          0       0
3  2020-01-25  Afghanistan          0          0       0
4  2020-01-26  Afghanistan          0          0       0

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161568 entries, 0 to 161567
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date       161568 non-null  object
 1   Country    161568 non-null  object
 2   Confirmed  161568 non-null  int64
 3   Recovered  161568 non-null  int64
 4   Deaths     161568 non-null  int64
dtypes: int64(3), object(2)
memory usage: 6.2+ MB

In [65]:
(df["Country"]=='India')

0         False
1         False
2         False
3         False
4         False
          ...
161563    False
161564    False
161565    False
161566    False
161567    False
Name: Country, Length: 161568, dtype: bool

In [69]:
df["Date"]=='2021-06-22'

0         False
1         False
2         False
3         False
4         False
          ...
161563    False
161564    False
161565    False
161566    False
161567    False
Name: Date, Length: 161568, dtype: bool

In [73]:
mask=(df["Date"]=='2021-06-27')&(df["Country"]=='India')

In [74]:
mask

0         False
1         False
2         False
3         False
4         False
          ...
161563    False
161564    False
161565    False
161566    False
161567    False
Length: 161568, dtype: bool

In [75]:
df[mask]

             Date Country  Confirmed  Recovered  Deaths
65802  2021-06-27   India   30279331   29309607  396730